@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
select:focus {
  background-color: #777;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 10pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}

nav h1::before {
    content: '';
    display: inline-block;
    vertical-align: middle;  
    height: 100%;
}

nav h1 {
  margin: auto;
  height: 100%;
  vertical-align: middle;
}

nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

@media screen and (max-width: 500px) {
  nav h1 a {
    letter-spacing: 5px;
    font-weight: 100;
  }
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 12pt;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 70vh;
  max-height: 400px;
  width: 100%;
  background-color: #ccc;
}
@media screen and (max-width: 500px) {
  #map { height: 60vh; }
}
#map-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 1070px) {
  #map-container {
    width: 1070px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    max-width: 100%;
  }
  #map {
    width: 75%;
  }
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  min-height: 50px;
  background-color: #3397DB;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 1070px) {
  .filter-options {
    width: 25%;
    align-content: flex-start;
    padding-top: 12px;
  }
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
@media screen and (max-width: 588px){
  .filter-options h2 {
    width: 100%;
    margin-top: 15px;
  }
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}
.filter-label {
  padding: 10px 10px 0;
  color: white;
}
@media screen and (max-width: 398px){
  .filter-label {
    display: block;
  }
}
#filter-heading {
  margin: 10px;
  font-weight: bold;
}
@media screen and (min-width: 530px) and (max-width: 870px){
  #filter-heading {
    flex-basis: 100%;
  }
}

/* ====================== Restaurant Listing ====================== */
#restaurant-list-container {
  width: 100%;
  max-width: 100%;
}
@media screen and (min-width: 1070px) {
  #restaurant-list-container {
    width: 1070px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 0 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial, sans-serif;
  margin: 10px;
  min-height: 380px;
  padding: 0 28px 25px;
  text-align: left;
  width: 270px;
  border-radius: 15px 0;
  max-width: 450px;
}
@media screen and (max-width: 814px) {
  #restaurants-list li {
    width: 80%;
  }
}
@media screen and (max-width: 1064px) and (min-width: 815px) {
  #restaurants-list li {
    width: 40%;
  }
}
#restaurants-list .restaurant-img {
  background-color: #CCC;
  display: block;
  margin: 0;
  max-width: 100%;
  max-height: 50vh;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 12pt;
  font-weight: bold;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 15px 0;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
  box-sizing: border-box;
}
.inside #maincontent {
  margin-top: 129px;
  margin-right: auto;
  box-sizing: border-box;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 50vh;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
	border-radius: 15px 0;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 13pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 3px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
  border-radius: 10px 0;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 10px 40px 30px;
  width: 100%;
  box-sizing: border-box;
}
#reviews-container {
  padding: 30px 40px 80px;
}
@media screen and (min-width: 600px) {
  .inside #map-container{
    border-bottom: 1px solid #d9d9d9;
  }
  .inside #map {
    width: 50%;
    height: 70vh;
    max-height: 600px;
  }
  #restaurant-container{
    border: none;
    padding-top: 0;
    width: 50%;
  }
  #reviews-container {
    
  }
}
@media screen and (min-width: 1070px) {
  #reviews-container {
    width: 1070px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 8px 0 80px;
  }
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  margin-bottom: 0;
}
#reviews-container button {
  background-color: #f58500;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 40px;
  min-width: 40px;
  padding: 10px;
  margin: 0 0 3px;
  border: 0;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
  border-radius: 15px 0;
}
#reviews-list li p {
  margin: 10px 15px;
  color: #252831;
}
.review-header {
  background: #252831;
  color: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
.review-author, .review-date{
  padding: 6px 15px;
}
.review-author {
  font-weight: bold;
}
.review-date{
  color: #bbb;
  text-shadow: 0px 1px #111
}
.review-rating {
  background: #f58500;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px;
  margin: 10px 15px 15px;
  border-radius: 2px;
}
#restaurant-hours td {
  color: #666;
}

/*========== Review submission form ===== */
.modal {
  display: none;
  position: fixed;
  z-index: 1002;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.9);
  overflow: scroll;
}
.modal-content {
  display: none;
  background-color: rgb(238, 238, 238);
  height: 80vh;
  max-height: 620px;
  width: 80vw;
  margin: 10vh 10vw;
  padding: 20px 10vw;
  box-sizing: border-box;
  border-radius: 15px 0;
}
.modal-content h2 {
  margin-top: 30px;
  color: #f58500;
}
#close-modal {
  margin-top: 0;
  margin-right: 10px;
  color: #f58500;
  float: right;
  font-size: 30px;
  font-weight: 1000;
  cursor: pointer;
}
.modal-content input, .modal-content select, .modal-content textarea {
  min-height: 20px;
  font-size: 18px;
  width: 100%;
  margin-top: 5px;
  padding: 7px
  box-sizing: border-box;
}
.modal-content label {
  background: #252831;
  color: #fff;
  width: 100%;
  padding: 7px;
  border-radius: 8px 0;
  font-weight: bold;
  margin-top: 3px;
  box-sizing: border-box;
}
#submit-review {
  background-color: #f58500;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 36px;
  width: 100%;
  padding: 5px;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
@media screen and (min-width: 600px) {
  .modal-content {
    width: 70vw;
    margin: 10vh 15vw;
    padding: 20px 10vw;
  }
}
@media screen and (min-width: 1400px) {
  .modal-content {
    width: 50vw;
    margin: 10vh 25vw;
    padding: 20px 5vw;
  }
}
